* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

button {
  cursor: pointer;
}

i {
  cursor: pointer;
}

.loading-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
  z-index: 1;
  background-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow-x: hidden; /* removes scroll in bottom */
}

html {
  scroll-behavior: smooth;
}

a {
  transition: 1s;
  color: #111111;
  outline: none;
  text-decoration: none;
}

li {
  list-style: none;
}

.login-page-wrapper {
  display: grid;
  place-content: center;
  height: 50%;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
}

.left-main-wrapper {
  display: grid;
  place-content: center;
  width: 100%;
}

#login-page-img {
  display: grid;
  place-content: center;
  height: 100%;
  object-fit: contain;
}

.right-main-wrapper {
  display: grid;
  align-content: start;
}

#login-form {
  display: grid;
  gap: 1rem;
  position: sticky;
  top: 150px;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  place-items: center;
  background-color: #111111;
}

#login-form h1 {
  color: #fff;
  font-size: 44px;
  letter-spacing: 1px;
}

#login-form label {
  display: grid;
  place-content: center;
  width: 300px;
  height: 40px;
}

#login-form input {
  display: grid;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

#login-form button {
  display: grid;
  width: 300px;
  height: 40px;
  place-content: center;
  border-style: none;
  border-radius: 15px;
  background-color: #4190d1;
  font-size: 16px;
  font-weight: 700;
}

#signup-link-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-weight: 700;
  place-content: center;
  gap: 1rem;
  font-weight: 800;
  color: #fff;
}

#link {
  display: grid;
  color: #4190d1;
  transition: 0.3s;
  text-decoration: none;
}

.special-image-1 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 170%;
}

.signup-page-wrapper {
  display: grid;
  place-content: center;
  height: 50%;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
}
.left-main-wrapper {
  display: grid;
  place-content: center;
  width: 122%;
}
#signup-page-img {
  display: grid;
  place-content: center;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.right-main-wrapper {
  display: grid;
  align-content: start;
  place-items: center;
  justify-content: center;
  padding-top: 150px;
}
#signup-form {
  display: grid;
  position: sticky;
  gap: 1rem;
  top: 30px;
  width: 450px;
  height: 400px;
  border-radius: 5px;
  place-items: center;
  background-color: #111111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#signup-form h1 {
  font-size: 44px;
  width: 300px;
  letter-spacing: 1px;
  padding-top: 20px;
  color: #fff;
}
#signup-form input {
  display: grid;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  font-size: 13px;
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  outline: none;
}
#username input {
  width: 300px;
  height: 50px;
}
.input-wrapper {
  display: grid;
  place-content: center;
}
#email {
  display: grid;
  width: 300px;
}
#password {
  display: grid;
  width: 300px;
}
#signup-form button {
  display: grid;
  width: 300px;
  height: 40px;
  place-content: center;
  border-style: none;
  border-radius: 15px;
  background-color: #4190d1;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}
.special-image-2 {
  height: 100%;
  width: 170%;
}
#login-link-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-weight: 600;
  place-content: center;
  gap: 1rem;
  font-weight: 800;
  padding-bottom: 20px;
  color: #fff;
}
#link {
  display: grid;
  color: #4190d1;
  transition: 0.3s;
}

.footer-welcome {
  display: grid;
  grid-area: footer;
  grid-template-rows: 40px 40px;
  grid-gap: 10px;
  place-items: center;
  height: 200px;
  background-color: #012b36;
  place-content: center;
}

.footer-welcome span {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fff;
}

header.header {
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template:
    "header-group-1 header-group-2" 100px /
    0.8fr 0.2fr; /* this is where the bug was wich cause header problems, i had all three at 1fr 1fr 1fr but when i tried auto in the last part all went perfect when responsive*/
  background-color: #012b36;
  grid-gap: 15px;
}

header.header .header-group-1 {
  grid-area: header-group-1;
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-gap: 20px;
  place-items: center;
  padding-left: 50px;
}

header.header .header-group-1 a {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #5ad2f3;
  font-style: italic;
}

header.header .header-group-1 ul {
  display: grid;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  grid-gap: 25px;
  place-items: center;
}

.div-inside-li {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 10px;
}

.div-inside-li-special {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.div-inside-li-special .genre-drop {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-gap: 15px;
  place-items: center;
}

.div-inside-li-special .dropdown-content ul {
  display: grid;
  grid-template-columns: repeat(3, 0.33fr);
  grid-gap: 20px;
}

header.header .header-group-1 ul.list-nav li.special-uppercase {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto;
  cursor: pointer;
  padding-bottom: 1px;
}

header.header .header-group-1 ul.list-nav a.special-uppercase {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto;
  cursor: pointer;
  padding-bottom: 1px;
}

ul .special-list-drop {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 900;
  font-family: Roboto;
  cursor: pointer;
}

header .dropbtn img {
  height: 40px;
  width: 40px;
}

header.header .header-group-1 ul li:hover {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-bottom: 1px solid #f7eeee52;
  color: #e92d2d;
}

header.header .header-group-2 {
  grid-area: header-group-2;
  display: grid;
  grid-template-columns: 0.8fr 150px;
  grid-gap: 30px;
  justify-content: end;
  justify-items: end;
  align-items: center;
  padding-left: 250px;
}

.logout {
  display: grid;
  grid-template-rows: auto 10px;
  place-items: center;
}

.logout span {
  font-size: 14px;
  color: #da6435;
  font-weight: 700;
}

.logout a {
  padding-top: 30px;
  font-size: 14px;
  color: #da6435;
  font-weight: 700;
}

.button-login-header {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
  border: none;
  outline: none;
  background-color: #b61e1e;

  display: grid;
  grid-template-columns: 30px 80px;
  place-items: center;
}

.button-login-header:hover {
  background-color: #3684f1;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.button-search {
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  width: 100%;
}

.button-search input {
  outline: none;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}

.button-search button {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 15px;
  border: none;
  outline: none;
  background-color: #b61e1e;
}

.button-search button:hover {
  background-color: #3684f1;
  transition: 1s;
}

/* Dropdown Button */
header .dropbtn {
  background-color: transparent;
  color: rgb(247, 245, 245);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  border: none;
  cursor: pointer;
  display: grid;
  /* background-color: #e2850c; */
  grid-template-columns: 0.5fr 0.5fr;
  place-items: center;
  grid-gap: 20px;
}

header .dropbtn:hover {
  color: #fefeff;
  transition: 1s;
  /* border-bottom: 1px solid #ec8251; */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

header .drop-down-content .dropdown {
  position: relative;
  display: inline-block;
}

/* .div-inside-li-special .dropdown img {
  height: 30px;
  width: 30px;
} */

header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #012b36;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* padding-top: 20px; */
}

/* Links inside the dropdown */
header .dropdown-content button {
  color: rgb(0, 0, 0);
  padding: 15px 15px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
header .dropdown-content button:hover {
  color: rgb(254, 69, 69);
}

/* Show the dropdown menu on hover */
header .dropdown:hover .dropdown-content {
  display: block;
  background-color: #ffffff;
}

/* Dropdown Button */
.div-inside-li-special .dropbtn {
  background-color: transparent;
  color: rgb(247, 245, 245);
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  border: none;
  cursor: pointer;
  /* display: grid; */
  /* background-color: #e2850c; */
  /* grid-template-columns: 0.5fr 0.5fr; */
  /* place-items: center; */
  /* grid-gap: 10px; */
}

.div-inside-li-special .dropbtn:hover {
  color: #fefeff;
  transition: 1s;
  /* border-bottom: 1px solid #ec8251; */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.div-inside-li-special .drop-down-content .dropdown {
  position: relative;
  display: inline-block;
}

/* .div-inside-li-special .dropdown img {
    height: 30px;
    width: 30px;
  } */

.div-inside-li-special .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px 20px;
}

/* Links inside the dropdown */
.div-inside-li-special .dropdown-content button {
  color: rgb(0, 0, 0);
  padding: 15px 15px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.div-inside-li-special .dropdown-content button:hover {
  color: rgb(250, 250, 250);
}

/* Show the dropdown menu on hover */
.div-inside-li-special .dropdown:hover .dropdown-content {
  display: block;
  background-color: #3684f1;
}

.movieLandiaLogo {
  /* padding-left: 30px; */
  cursor: pointer;
}

.home-wrapper-menus {
  display: grid;
  grid-template:
    "ribbon" auto /
    1fr;
  height: auto;
  grid-gap: 30px;
  width: 100%;
  background-color: #004355;
}

.no-search span {
  font-size: 26px;
  color: #fff;
  font-weight: 900;
}

.home-wrapper-menus .home-ribbon-2 .movie-item {
  display: grid;
  grid-template-rows: 0.7fr 0.15fr 0.15fr;
  grid-gap: 10px;
  cursor: pointer;
}

.pagination {
  margin-bottom: 20px;
  padding-left: 100px;
  display: inline-block;
}

.pagination a {
  padding: 11px 20px;
  margin: 0px -0.5px;
  height: auto;
  font-size: 14px;
  font-weight: 700;
  color: rgb(250, 53, 53);
  position: relative;
  height: auto;
}

.pagination a:hover {
  background-color: #267fe6;
  color: white;
}

.pagination .active {
  background-color: #267fe6;
  color: white;
}

.pagination .nav-link {
  color: white;
  background-color: #267fe6;
  border: 2px #267fe6 solid;
  padding: 10px 20px;
}

.pagination .nav-link-left {
  border-radius: 5px 0px 0px 5px;
  margin-right: -5px;
}

.pagination .nav-link-right {
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
}

.pagination .links {
  border: 1px #fcdddd solid;
}

.home-wrapper-menus .home-ribbon-2 .movie-item:hover {
  transform: scale(1.1);
  margin-right: 3%;
  margin-left: 3%;
  transition: 1s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.home-wrapper-menus .home-ribbon-2 .movie-item span {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.list-sort a:hover {
  color: #ee0000;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.list-latest li:hover {
  color: #ee0000;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.home-wrapper-menus .home-ribbon-2 {
  grid-area: ribbon;
  display: grid;
  grid-template-rows: auto 200px;
  grid-gap: 20px;
  height: auto;
}

.home-wrapper-menus .home-ribbon-2 h3 {
  display: grid;
  align-self: center;
  justify-self: center;
  justify-self: end;
  padding-right: 300px;
  font-size: 18px;
  color: #5ad2f3;
  padding-top: 50px;
}

.home-wrapper-menus .home-ribbon-2 ul.list-sort {
  display: grid;
  grid-template-columns: 150px 200px 150px;
  grid-gap: 15px;
  align-items: center;
  justify-items: center;
  justify-content: end;
  padding-right: 50px;
  padding-bottom: 30px;
  border-bottom: 3px solid #5ad2f3;
}

ul.list-latest {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: center;
  /* padding-bottom: 20px;
    border-bottom: 3px solid #5ad2f3; */
}

.list-sort a {
  font-size: 16px;
  color: #6466f2;
  font-weight: 700;
  cursor: pointer;
}

.movie-item .imdb-span {
  font-size: 14px;
  font-weight: 800;
  color: #5ad2f3;
  display: grid;
  place-items: center;
}

.movie-title {
  display: grid;
  place-items: center;
  width: 100%;
}

.movie-item-latest .imdb-span {
  font-size: 14px;
  font-weight: 800;
  color: #5ad2f3;
  display: grid;
  place-items: center;
}

.home-wrapper-menus .home-ribbon-2 ul li {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.home-wrapper-menus .image-ribbon-2-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  grid-gap: 5px;
  place-items: center;
  height: auto;
  padding-top: 50px;
}

.home-wrapper-menus .home-ribbon-2 img {
  height: 350px;
  width: 250px;
  cursor: pointer;
}

.movie-item-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(0 60 76);
  place-items: center;
  place-content: center;
}

.left-section {
  display: grid;
  place-items: center;
  place-content: center;
  grid-gap: 30px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.button-favorite-add {
  border: none;
  padding: 15px 15px;
  background-color: #64cfe9;
  font-size: 16px;
  font-weight: 700;
}

.trailer-link {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.server-list {
  display: grid;
  place-items: center;
  padding-bottom: 30px;
}

.server-list li {
  font-size: 22px;
  color: #44a7be;
}

.movie-details {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  place-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.movie-details li {
  color: #44a7be;
  font-size: 16px;
  font-weight: 700;
}

.trailer {
  display: grid;
  grid-template-columns: 0.5fr 150px;
  grid-gap: 20px;
}

.length {
  display: grid;
  grid-template-columns: 140px 80px 130px;
  grid-gap: 10px;
}

.movie-specifications {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 20px;
}

.movie-fabula {
  display: grid;
  place-items: center;
  place-content: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
#fabula {
  color: #44a7be;
  font-size: 16px;
  display: grid;
  place-self: center;
  border-top: 2px solid #44a7be;
  border-bottom: 2px solid #44a7be;
  width: 80%;
  padding: 20px 0px;
}
.last-movies-list {
  display: grid;
  grid-auto-flow: column;

  justify-content: center;
  column-gap: 34px;
  padding-top: 50px;
}

.last-movies-list img {
  height: 250px;
  width: 150px;
  cursor: pointer;
}

.last-movies {
  display: grid;
  padding-bottom: 20px;
}
.posted-lastest h2 {
  color: #44a7be;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.posted-lastest {
  display: grid;
  height: 40px;
  background-color: #003d4d;
  border-bottom: 2px solid #4ab1c9;
  align-content: center;
}

.movies-error {
  display: grid;
  place-self: center;
}

.movies-error span {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}